<% content_for :heading do -%>
	Edit Objective
<% end -%>

<% content_for :actions do -%>
	<%= link_to '&larr; Back', objectives_path %>
	<%= link_to 'Delete', objective_path(@objective), :method => 'delete', :confirm => 'Are you sure?'%>
<% end-%>

<% form_for @objective do |f| -%>
	<%= f.error_messages %>

	<%= render :partial => "form", :object => f %>
	<div>
		<%= f.submit 'Save', :disable_with => 'Saving...' %>
	</div>
<% end -%>
