<table id="contact_info" class="vcard">
<tbody>
<% @contact_infos.each do |contact_info| -%>
	<tr>
	<% unless @current_user.nil? -%>
		<td>
			<%= link_to '&uArr;', :action => 'move', :id => contact_info, :move => 'move_to_top' %>
			<%= link_to '&uarr;', :action => 'move', :id => contact_info, :move => 'move_higher' %>
			<%= link_to '&darr;', :action => 'move', :id => contact_info, :move => 'move_lower' %>
			<%= link_to '&dArr;', :action => 'move', :id => contact_info, :move => 'move_to_bottom' %>
		</td>
	<% end -%>
	
		<td>
			<span class="label"><%= h contact_info.key %>:</span>
		</td>
		<td>
			<%= show_contact_info(contact_info) %>
		</td>
		
		<% unless @current_user.nil? -%>
		<td>
			<%= link_to '[edit]', edit_contact_info_path(contact_info) %>
		</td>
		<% end -%>
	</tr>
<% end -%>
</tbody>
</table>
