<div>
	<%= form.label :title %>
	<%= form.text_field :title %>
</div>
<div>
	<%= form.label :uploaded_data, 'Thumbnail' %>
	<%= form.file_field :uploaded_data%>
</div>
<div>
	<%= form.label :description %>
	<%= form.text_area :description, :rows => 6 %>
</div>