<% content_for :heading do -%>
	Portfolio
<% end -%>

<% content_for :actions do -%>
	<%= link_to '+ New', new_project_path %>
<% end-%>

<% content_for :extra_navigation do -%>
	<ul>
		<li><%= link_to 'projects', projects_path, :class => 'current' %></li>
		<li><%= link_to 'categories', categories_path %></li>
	</ul>
<% end -%>

<p class="introduction">
	This is a list of all of the projects in my portfolio. Projects include websites, programs, brochures, flags,
	illustrations, tee shirts and anything else that I worked on or designed. Please click the title or the
	thumbnail of each project to see additional information about each one, including larger images and
	descriptions of each.
</p>

<p class="introduction">
	Each project can be in one or more <%= link_to 'categories', categories_path %>; a list of the
	categories that each project is in is shown at the top of each project's page.
</p>

<p class="introduction">
	There are currently <%= @projects.size %> projects in <%= @categories.size %> total categories.
</p>

<ul id="projects">
	<%= render :partial => 'project', :collection => @projects %>
</ul>
