<div>
	<%= form.label :key %>
	<%= form.text_field :key %>
</div>
<div>
	<%= form.label :value %>
	<%= form.text_field :value %>
</div>
<div>
	<%= form.label :link %>
	<%= form.text_field :link %>
</div>
<div>
	<%= form.label :show_in_header %>
	<%= form.check_box :show_in_header %>
</div>
<div>
	<%= form.label :show_on_resume %>
	<%= form.check_box :show_on_resume %>
</div>